.grid {
    width: 80%;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    margin: auto;
    gap: 1px;
}

.grid-square {
    width: 100%;
    height: 25px;
    margin: 0;
    padding: 0;
}

.grid-square:hover {
    cursor: pointer;
}

/* @keyframes example {
    from {background-color: white;}
    to {background-color: #fadb6f;}
} */

.color {
    background-color: #fadb6f;
    /* animation-name: example;
    animation-duration: 0.4s;
    animation-fill-mode: forwards; */
}

.wall {
    background-color: black;
}

#search-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.start-node {
    background-color: green;
}

.end-node {
    background-color: red;
}
